*{
    margin: 0px;
    padding: 0px;
}

html{
    scroll-behavior: smooth;
    overflow-y: auto;
}
#navbar{
   position: sticky;
   display: flex;
   align-items: center;
   top: 0px;
}
/*logo and image*/
/*List styling*/
#logo{
    margin: 10px 34px;

}
#logo img{
    height: 59px;
    margin: 3px 6px;
}
#navbar ul{
    display: flex;
    font-family: "Baloo 2", sans-serif;
}
#navbar::before{
    content:"" ;
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
    top: 0px;
    left: 0px;

    
}
#navbar ul li{
    list-style:none ;
    font-size: 1.3rem;

}
#navbar ul li a{
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}
#Home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
    height: 710px;
}
#Home::before{
    content:"" ;
    background:url('../bg.2.jpg') no-repeat center center/cover;
    position: absolute;
    height: 810px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
    top: 0px;
    left: 0px;
}
#Home h1{
    color: white;
    text-align:center;
}
 #Home p{ 
    color: white;
    text-align: center;
    font-size: 1.8rem;
    font-family: 'Bree Serif', serif;
 }
 #services{
    margin: 34px;
    display: flex;
 }
 #services .box{
    border: 2px solid brown;
    height: 350px;
    padding: 34px;
    margin: 25px 6px;
    border-radius: 28px;
    background: white;
 }
 #services .box img{
    height: 160px;
    margin: auto;
    display: block;
    width: 50px;
 }
 #services .box p{
    font-family: 'Bree Serif', serif;

 }
 #client-section{
    position: relative;

 }
 #client-section::before{
    content:"" ;
    position: absolute;
    background:url('../bg.1.jpg') no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;
 }
 #clients{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 #clients img{

    height:auto;
    width: 150px;
    padding: 34px;
 }
 .client-items{
    padding: 40px;
   
 }
 #Contact{
    position: relative;
 }
 
    #Contact::before{
        content: "";
        position: absolute;
        top: 0; /* Ensure the pseudo-element starts at the top */
        left: 0; /* Ensure it aligns with the left edge */
        background: url('../bg8.jpg') no-repeat center center / cover;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 0.4;
        
    }
    #contact-box{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 34px;
    }
    #contact-box input{
        width: 100%;
        padding: 0.5rem;
        border-radius: 9px;
        font-size: 1.1rem;
    }
    #contact-box textarea{
        width: 100%;
        padding: 0.5rem;
        border-radius: 9px;
        font-size: 1.1rem;
    }
    #contact-box form{
        width: 40%;
    }
    #contact-box label{
        font-size: 1.3rem;
    }
    footer{
        background: black;
        color: white;
        padding: 9px 20px;
    } 
    
    .h-primary{
    font-size: 3.8rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
}
.h-secondary{
    font-size: 2.3rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}
.center{
    text-align: center;
}
